# use legacy i2c driver, as it's currently used by AtomVM
#CONFIG_SCCB_HARDWARE_I2C_DRIVER_NEW=n
CONFIG_SCCB_HARDWARE_I2C_DRIVER_LEGACY=y
#CONFIG_I2C_SKIP_LEGACY_CONFLICT_CHECK=y
CONFIG_MBEDTLS_ECP_FIXED_POINT_OPTIM=n

# CPU runs full speed
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_80=
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_160=
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

# Flash is in fastest mode
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y

# Enable PSRAM, and use fastest mode
CONFIG_ESP32_SPIRAM_SUPPORT=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_80M=y

# Free up some IRAM, so we are within limits
CONFIG_ESP_WIFI_RX_IRAM_OPT=n

# Enable camera converter support
CONFIG_CAMERA_CONVERTER_ENABLED=y
