{erl_opts, [debug_info]}.
{deps, [
    {esp32cam, {git, "https://github.com/atomvm/atomvm_esp32cam.git", {branch, "master"}}}
]}.
{plugins, [
    atomvm_rebar3_plugin
]}.
{atomvm_rebar3_plugin, [
    {packbeam, [
        {start, esp32cam_example}
    ]},
    {esp32_flash, [
        {offset, 16#250000}
    ]}
]}.
